// Importing general style
@import '../../../assets/css/generalStyle';

.Task { position: relative; margin: 10px 0; padding: 15px; cursor: pointer; @extend %transitions; background-color: #F8F8F8;
    h4 { margin: 0; @extend %transitions; }
    &:hover { h4 { color: $--color-green; } }
    i { width: 35px; height: 35px; line-height: 35px; text-align: center; @include add_prefixes(border-radius, 50%); position: absolute; top: 50%; right: 20px; @include add_prefixes(transform, translateY(-50%)); color: $--color-red; @extend %transitions;
        &:hover { color: $--color-white; background-color: $--color-red; }
    }
}

.Reminder { border-left: 5px solid $--color-green; }